<!-- addbook.ejs -->
<!doctype html>
<html>
  <head>
    <title>Add a New Book</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Add a New Book</h1>
    <form method="POST" action="/books/bookadded">
      <p>Book Name: <input type="text" name="name" required /></p>
      <p>Price: <input type="number" name="price" required /></p>
      <input type="submit" value="Add Book" />
    </form>
  </body>
</html>
